<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558791349945-gp5qgg01k21dr04pvvq3152kgnadvbkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558791349945-gp5qgg01k21dr04pvvq3152kgnadvbkk</string>
	<key>API_KEY</key>
	<string>AIzaSyAOgNQx2AQ8HK_NdMGr7sIAffwIySXQE3k</string>
	<key>GCM_SENDER_ID</key>
	<string>558791349945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mosttraveledpeople.mtp</string>
	<key>PROJECT_ID</key>
	<string>most-traveled-people-pub</string>
	<key>STORAGE_BUCKET</key>
	<string>most-traveled-people-pub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558791349945:ios:416b065595177953</string>
	<key>DATABASE_URL</key>
	<string>https://most-traveled-people-pub.firebaseio.com</string>
</dict>
</plist>